* {
  margin: 0;
  padding: 0;
  font-family: 'Do Hyeon', sans-serif;
  font-variant-numeric: tabular-nums;
  user-select: none;
  overflow: hidden;
}
.clearFix::after {
  clear: both;
  content: '';
  display: block;
}
#warpAll {
  padding-top: 10vh;
  width: 100vw;
  height: 90vh;
  background-color: black;
}
#name {
  margin-left: 10px;
  float: left;
  font-size: 8em;
  color: white;
  text-shadow: 5px 5px 0 rgba(122, 122, 122, 0.6);
}
#devNick {
  margin-left: 10px;
  font-size: 0.25em;
  color: white;
  text-shadow: 5px 5px 0 rgba(122, 122, 122, 0.6);
}
#stageFrom {
  margin-left: 10px;
  font-size: 2em;
  color: white;
  text-shadow: 1.5px 1.5px 0 rgba(122, 122, 122, 0.6);
}
#hight {
  margin-left: 10px;
  font-size: 4em;
  color: #e8e8e8;
  text-shadow: 1px 1px 0 rgba(122, 122, 122, 0.6);
}
#score {
  position: absolute;
  left: 47vw;
  margin: 0 auto;
  font-size: 2.5em;
  color: white;
  text-shadow: 2.5px 2.5px 0 rgba(122, 122, 122, 0.6);
}
a {
  position: absolute;
  margin-left: 10px;
  color: #547ea1;
  text-decoration: none;
  font-size: 1.4em;
  text-shadow: 2px 2px 0 rgba(122, 122, 122, 0.6);

  transition: all 1s;
}
a:hover {
  color: #508dbf;
  text-shadow: 4px 4px 0 rgba(122, 122, 122, 0.6);

  transition: all 1s;
}
.level1 {
  color: #65e674;
}
.level2 {
  color: #d6bf3e;
}
.level3 {
  color: #e03a3a;
}
.level4 {
  background: linear-gradient(45deg, #79d498, #913f3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.level5 {
  background: linear-gradient(45deg, #b89549, #572323);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.level6 {
  background: linear-gradient(45deg, #a8473d, #401713);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.level7 {
  animation-duration: 7s;
  animation-name: level7Shiny;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes level7Shiny {
  from {
    color: #3b3b3b;
    text-shadow: 0 0 3px #3b3b3b;
  }
  12.5% {
    color: #d1993f;
    text-shadow: 0 0 3px #d1993f;
  }
  25% {
    color: #cad13f;
    text-shadow: 0 0 3px #cad13f;
  }
  37.5% {
    color: #72d13f;
    text-shadow: 0 0 3px #72d13f;
  }
  50% {
    color: #3fa0d1;
    text-shadow: 0 0 3px #3fa0d1;
  }
  62.5% {
    color: #4b3fd1;
    text-shadow: 0 0 3px #4b3fd1;
  }
  75% {
    color: #7e3fd1;
    text-shadow: 0 0 3px #7e3fd1;
  }
  87.5% {
    color: #3b3b3b;
    text-shadow: 0 0 3px #3b3b3b;
  }
  to {
    color: #3b3b3b;
    text-shadow: 0 0 3px #3b3b3b;
  }
}
#game {
  width: 100vw;
  height: 80vh;
  background-color: orange;
}
#airplane {
  position: absolute;
  left: 4vw;
  width: 2vw;
  height: 2vw;
  background-color: #3798cc;
  box-shadow: 7px 7px 0 #121212;
}
.emeny {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #db3d3d;
  box-shadow: 6px 6px 0 #828282;
}
.emenyG {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #44cfa7;
  box-shadow: 6px 6px 0 #828282;
}
.emenyB {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #3262a8;
  box-shadow: 6px 6px 0 #828282;
}
.emenyP {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #a134eb;
  box-shadow: 6px 6px 0 #828282;
}
.emenyM {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #bfd9f5;
  box-shadow: 6px 6px 0 #828282, 0 0 10px #bfd9f5;
}
.opac {
  opacity: 0.2;
}
.emenyW {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #000;
  box-shadow: 6px 6px 0 #828282;
}
.Uemeny {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #872222;
  box-shadow: 6px 6px 0 #828282;
}
.UemenyG {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #2b876d;
  box-shadow: 6px 6px 0 #828282;
}
.UemenyB {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #3262a8;
  box-shadow: 6px 6px 0 #828282;
}
.UemenyP {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #102545;
  box-shadow: 6px 6px 0 #828282;
}
.UemenyM {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #8fa5bd;
  box-shadow: 6px 6px 0 #828282, 0 0 10px #8fa5bd;
}
.UemenyW {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: #3b3b3b;
  box-shadow: 6px 6px 0 #828282;
}
.emenyR {
  position: absolute;
  width: 1vw;
  height: 1vw;
  box-shadow: 6px 6px 0 #828282;
  animation-duration: 7s;
  animation-name: emenyRShiny;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes emenyRShiny {
  from {
    background-color: #3b3b3b;
  }
  12.5% {
    background-color: #d1993f;
  }
  25% {
    background-color: #cad13f;
  }
  37.5% {
    background-color: #72d13f;
  }
  50% {
    background-color: #3fa0d1;
  }
  62.5% {
    background-color: #4b3fd1;
  }
  75% {
    background-color: #7e3fd1;
  }
  87.5% {
    background-color: #3b3b3b;
  }
  to {
    background-color: #3b3b3b;
  }
}
